VS2015/SDL/Debug/
VS2015/SDL/Release/
VS2015/SDL/x64/*
VS2015/SDL_Image/Debug/
VS2015/SDL_Image/Release/
VS2015/SDL_Image/x64/*
VS2015/pugixml/Debug/
VS2015/pugixml/Release/
VS2015/pugixml/x64/*
VS2015/Saphire/Debug/
VS2015/Saphire/Release/
VS2015/Saphire/x64/*
VS2015/libpng/Debug/
VS2015/libpng/Release/
VS2015/libpng/x64/
VS2015/zlib/Debug/
VS2015/zlib/Release/
VS2015/zlib/x64/
VS2015/libjpeg/Debug/
VS2015/libjpeg/Release/
VS2015/libjpeg/x64/
VS2015/Debug/
VS2015/Release/
VS2015/x64/*
*.suo
*.sdf
*.opensdf
VS2015/Saphire.VC.db
VS2015/Saphire.VC.VC.opendb
*.user
